.headerTop {
  padding: 11px 0;

  &__line {
    /* Line gray */
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 100%;
    padding-top: 11px;
  }
  &__link{
    /* Desktop/Mini */
    color: rgb(25, 25, 25);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: right;
    text-decoration: none;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
  }

  &__time-text {
    color: rgb(25, 25, 25);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: right;
  }

  &__left {
    display: flex;
    align-items: center;
    column-gap: 40px;

  }

  &__loc {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__time {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  &__icon {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

}